#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  # We build the binary into the tmp folder and call it 'main'
  cmd = "go build -o ./tmp/main ./cmd/main.go"
  
  # This is the path to the binary that was just built
  bin = "./tmp/main"
  
  # Optional: any arguments you want to pass to your app (e.g., --port=8080)
  args_bin = []
  
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "core/identity/internal/db/migrations"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["cmd", "core", "utils"]
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "sql"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = true
  keep_scroll = true